:root {
    --dark: #19191B;
    --gray: #696871;
    --green: #10B981;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding-block: 30px;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    top: 0;
}

main {
    margin-top: 101px;
}

body {
    font-family: "DM Sans", sans-serif;
}

.header__h1 {
    font-family: "DM Sans", sans-serif;
}

.header__container, .hero__container {
    max-width: 1069px;
    margin-inline: auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display:flex;
    gap: 49px;
}

.header__list-link {
    font-family: "DM Sans", sans-serif;
    color: var(--gray);
    font-weight: 700;
    transition: color 0.3s;
    font-size: 16px;
}

.header__list-link.active {
    border-bottom: 2px solid purple;
    color: var(--dark);
}

.header__list-link:hover {
    color: var(--dark);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Body part */

.hero {
    padding: 40px;
}

.hero__h2 {
    font-weight: 700;
    color: var(--dark);
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.hero__desc {
    font-family: "Mulish", sans-serif;
    color: var(--gray);
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.hero__button {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    padding: 19px 50px;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 17px;
    transition: opacity 0.3s;
    margin-top: 40px;
    display: flex;

}

.hero__button:hover {
    opacity: 90%;
}

/* Footer */
.footer {
    background-color: var(--green);
    padding: 10px 10px;
}

.footer__container {
    background-color: lightgreen;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.footer__h2 {
    font-size: 30px;
}

.footer__author {
    font-size: 18px;
}

.footer__link {
    color: var(--gray);
    transition: color 0.3s;
}

.footer__link:hover {
    color: var(--dark);
}

/* Auth Section */

.auth-section {
    text-align: center;
    background-color: var(--green);
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px green;
}

input {
    background-color: lightgreen;
    width: 95%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
}

fieldset {
    padding: 20px;
    margin: 20px 0;
}

.submit-btn {
    cursor: pointer;
    background-color: lightgreen;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    display: block;
    color: purple;
    transition: opacity 0.3s ease;
}

.submit-btn:hover {
    opacity: 50%;
}

label {
    font-size: 20px;
}

fieldset {
    border-radius: 5px;
    border: 2px solid white;
}

fieldset legend {
    font-size: 28px;
    font-weight: 600;
}

/* Profile Section */

.profile-section__container {
    background-color: var(--green);
    padding: 40px;
    box-shadow: 0 5px 15px green;
    margin: 10px;
    border-radius: 5px;
    display: flex;
}

.profile-container {
    display: block;
    background-color: lightgreen;
    padding: 10px 20px;
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
}

.statistics-container {
    background-color: lightgreen;
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.avatar::before {
    content: "G";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
}

/*Quiz Section*/
#quiz-card {
    background-color: lightgreen;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.hidden {
    display: none !important;
}